#textos {
	POSITION: absolute;
	width: 315px;
	height: 20px;
	left: 500px;
	top: 20px;
	text-align: center;
	background-color: rgb(48,258,70);
	z-index: 2;
}
#cronometro {
	POSITION: absolute;
	width: 315px;
	height: 40px;
	left: 500px;
	top: 50px;
	text-align: center;
	background-color: rgb(248,58,170);
	z-index: 2;
}
#botones {
	POSITION: absolute;
	width: 315px;
	height: 150;
	left: 500px;
	top: 150px;
	text-align: center;
	background-color: rgb(148,158,170);
	z-index: 2;
}
#boton {
	height: 30px; 
	width: 100px;
}

#temperatura {
	POSITION: absolute;
	width: 100%;
	left: 0px;
	top: 300px;
	z-index: 3;
}